.input-add-cart-amount {
	display: block;
	position: absolute;
	bottom: 0px;
	right: 0px;
	height: 2.6rem;
	width: 3rem;
	background-color: #1c201c;
	border: 0px solid #1c201c;
	border-left: 1px solid gray;
	color: #fff;
	text-align: center;
	z-index: 5;
	padding: 0px 7px;
}
